.container {
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0.1px gray;
  width: 180px;
  margin-bottom: 15px;
}

.image {
  width: 180px;
  height: 130px;
  border-radius: 10px 10px 0px 0px;
}

.imageSection {
}

.titleSection {
  padding: 10px;
}

.title {
  font-size: 16px !important;
  color: #293241;
  text-wrap: nowrap;
}

.subtitle {
  font-size: 14px;
  color: #e8694b;
  font-weight: 400;
  padding-top: 5px;
}
.description {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

.box {
  background-color: #e0fbfc;
  padding: 5px;
  border-radius: 10px;
  width: 50px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  color: #293241;
}

.priceSection {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  color: #293241;
}

.bookNow {
  padding: 5px 10px;
  background-color: #e8694b;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
.day {
  font-size: 14px;
}
