.container {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #98c1d9;
  width: 150px;
  margin-bottom: 30px;
}

.image {
  width: 150px;
  height: 100px;
  border-radius: 10px 10px 0px 0px;
}

.imageSection {
}

.titleSection {
  padding: 10px;
}

.title {
  font-size: 13px !important;
  color: #293241;
}

.subtitle {
  font-size: 10px;
  color: #e8694b;
  font-weight: 400;
  padding-top: 5px;
}
.description {
  display: flex;
  justify-content: space-around;
  padding: 0px 10px;
}

.box {
  background-color: #e0fbfc;
  padding: 5px;
  border-radius: 10px;
  width: 35px;
  font-size: 6px;
  display: flex;
  justify-content: center;
  color: #293241;
}

.priceSection {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 12px;
  color: #293241;
}

.bookNow {
  padding: 5px 10px;
  background-color: #e8694b;
  color: white;
  border-radius: 10px;
  font-size: 8px;
}
.day {
  font-size: 6px;
}
