.container {
  padding-top: 70px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.mainSection {
}

.filterBox {
  box-shadow: 0px 0px 2px 0.5px var(--blue);
  padding: 5px;
  border-radius: 10px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}

.filterSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
