.container {
  display: flex;
  padding: 5px 10px;
  padding-right: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--darkblue);
  position: fixed;
  width: 100%;
  z-index: 99;
}

.logoSection {
  width: 20%;
}

.logo {
  width: 100px;
}
