.container {
  display: flex;
  padding: 5px 10px;
  padding-right: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--darkblue);
  position: fixed;
  width: 100%;
}

.logoSection {
  flex: 2;
  width: 20%;
}

.logo {
  width: 100px;
}

.icon {
  font-size: 30px;
  color: white;
}
