.container {
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cardTitle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
}
.cardSection {
  margin-bottom: 30px;
}
